<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>XKCD Browser</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>XKCD Browser</h1>
    </div>
  </div>
  <div id="app">
      <div v-if="loading">
          <p><div class="spinner-border"></div>  Loading...</p>
        </div>
        <div v-else>
          <p>
            <div class="btn-group btn-block">
              <button @click="firstComic" class="btn btn-lg">First Comic</button>
              <button v-on:click="previousComic" class="btn btn-lg">Previous</button>
              <button v-on:click="randomComic" class="btn btn-lg">Random</button>
              <button v-on:click="nextComic" class="btn btn-lg">Next</button>
              <button @click="lastComic" class="btn btn-lg">Last Comic</button>
            </div>
          </p>

          <div class="d-flex">
            <div class="flex-item">
              <img v-bind:src="current.img" v-bind:alt="current.alt">
            </div>
            <div class="flex-item">
              <h2>{{current.title}}</h2>
              <p>{{current.alt}}</p>
              <p><i>#{{current.num}}, drawn on {{current.day}} {{month}} {{current.year}}</i></p>
              <star-rating @rating-selected ="setRating"></star-rating>
              <p>Average Rating {{ratingAvg}}</p>
            </div>
          </div>
         

          <h3>Add a Comment</h3>
          <form v-on:submit.prevent="addComment">
            <input v-model="addedName" placeholder="Name"></p>
            <textarea v-model="addedComment"></textarea>
            <br />
            <button type="submit">Comment</button>
          </form>
          <h3>Comments</h3>
          <div v-for="comment in comments[number]">
            <hr>
            <p>{{comment.text}}</p>
            <p><i>-- {{comment.author}}</i> on {{comment.time}}</p>
          </div>
      </div>
  </div>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>
</body>

</html>
